{% extends "book_base.html" %}

{% block mainblock %}

<div class="col-xl-12 col-md-12 col-sm-12 p-2 mx-auto"> 
    <div class="card card-common p-4">
        
        <div class="d-flex">
            
            <div class="p-0 mr-3 d-flex align-items-start" style="width: 25%;"> 
                <img src="{{ book.image_url }}" class="img-fluid" style="max-height: 250px; object-fit: contain;" alt="Cover of {{ book.title }}" />
            </div>
            
            <div class="flex-grow-1"> 
            
                <h4 class="card-title">{{ book.title }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">By {{ book.author }}</h6>
                
                <p class="card-text small mb-1">
                    Category: {{ book.category }}, {{ book.genres | join(', ') }}
                </p>
                
                <p class="card-text small mb-3">
                    Pages: {{ book.pages }}<br>
                    Copies: <b>{{ book.copies }}</b> Available: <b>{{ book.available }}</b>
                </p>

                {# Description Section #}
                {% for paragraph in book.description %}
                    <p class="card-text">{{ paragraph }}</p>
                {% endfor %}
                
                 {# Description Section #}
                {% for paragraph in book.description %}
                    <p class="card-text">{{ paragraph }}</p>
                {% endfor %}
                
                {# --- START TASK 2: LOAN STATUS & BUTTONS --- #}
                <div class="mt-4 float-right">
                    
                    {# Back Button: Now btn-success (green) and placed first for right-alignment #}
                    <a href="{{ url_for('book.book_titles') }}" class="btn btn-success mr-2">Back to Book Titles</a>

                    {# Conditional Loan/Unavailable Button: Now placed second #}
                    {% if book.available > 0 %}
                        {# Available: Make a Loan (green - default) #}
                        <a href="{{ url_for('book.make_loan', book_id=book._id) }}" class="btn btn-success">Make a Loan</a>
                    {% else %}
                        {# Not Available: Now btn-danger (bright red) #}
                        <button type="button" class="btn btn-danger" disabled>Not Available</button>
                    {% endif %}

                </div>
                
            </div>
            
        </div>
        {# End of d-flex container #}

    </div>
</div>

{% endblock %}