{% extends "book_base.html" %}
{% from "_render_field.html" import render_field %}

{% block mainblock %}

<div class="col-xl-12 col-lg-12 col-md-12 mr-auto pl-3 pr-4"> 
    <div class="card card-common p-4">
        
        <form method="POST">
            {{ form.hidden_tag() }} 
            
            <div class="form-group mb-4">
                <label for="{{ form.genres.name }}"><p class="font-weight-bold mb-0 text-secondary" style="font-size: 1.1rem;">Choose mulitple Genres: </h4></label>
                {{ form.genres(class_='form-control', size=8) }}
                {% for error in form.genres.errors %}
                    <ul style="color:red;"><li>{{ error }}</li></ul>
                {% endfor %}
            </div>

            {{ render_field(form.title, class_='form-control') }}
            
            {{ render_field(form.category, class_='form-control') }}

            {{ render_field(form.url, class_='form-control') }}

            {{ render_field(form.description, class_='form-control', rows=6, placeholder='Enter description (seperate paragraphs by pressing Enter)') }}

            {{ render_field(form.authors, class_='form-control', rows=5, placeholder='Enter author names (separated by pressing Enter)') }}
            
            {{ render_field(form.pages, class_='form-control') }}

            {{ render_field(form.copies, class_='form-control') }}
    
            <button type="submit" class="btn btn-success float-right mt-4">{{ form.submit.label.text }}</button>
            
        </form>
        
    </div>
</div>

{% endblock %}